{% extends "layout.html" %}
{% block content %}

<style>
  .bottom-one {
     margin-bottom: 0.25cm;
  }
</style>

<html>
<hea>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


{% for BlogCategory in BlogCategories %}

<article class="media content-section">
  <div class="media-body">
    <h2><a class="project-link" href="/blog/{{ BlogCategory.category }}">{{ BlogCategory.category.replace("_", " ").title() }}</a></h2>
    <img src="{{ BlogCategory.image_path }}", width=480, height=300></img>
    <div class="article-metadata">
    {{ BlogCategory.description }}
    </div>
  </div>
  <hr style="width:50%"/>
</article>

{% endfor %}

{% endblock content %}
