{% extends "layout.html" %}
{% block content %}

<style>
  .bottom-one {
     margin-bottom: 0.25cm;
  }
</style>

<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


{% for BlogItem in BlogItems %}

<article class="media content-section">
  <div class="media-body">
    <a class="project-link" href="/blog/{{ BlogItem.subcategory }}/{{ BlogItem.category }}">Category: {{ BlogItem.category }}</a>
    <h2><a class="article-title">{{ BlogItem.title_ }}</a></h2>
    <p class="article-content">{{ BlogItem.contents|safe }}</p>
    <div class="article-metadata">
    <p class="bottom-one"></p>
    </div>
    <a class="project-link">{{ BlogItem.creation_date }}</a>
  </div>
</article>

{% endfor %}

{% endblock content %}
