<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></link>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="site-header">
    <center>
     <div class="topnav">
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/demos">Demos</a>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="https://git.io/JLgYe">Résumé</a>
    </div>
    <hr style="width:40%"></hr>
    </center>
    </header>
</body>
</html>

