{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></link>

{% for PortfolioItem in PortfolioItems %}
<center>
<div class="portfolio-item">

<p><b>{{ PortfolioItem.content }}</b></p>
<img src="{{ PortfolioItem.image_path }}" width=480, height=300/>
<ul id="menu">
    <a href="{{ PortfolioItem.demo_link }}"><li>Demo</li></a>
    <a href="{{ PortfolioItem.demo_link }}"><li>Demo</li></a>
    <a href="{{ PortfolioItem.doc_link }}"><li>Documentation</li></a>
    <a href="{{ PortfolioItem.src_link }}"><li>Source Code</li></a>
</ul>  

</div>
</center>

<br></br>

{% endfor %}

{% endblock content %}
